* {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.App {
  text-align: center;
}

a {
  all: unset;
}

.header {
  background-image: linear-gradient(to bottom right, #f1f1f1, #008CBA);
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  padding: 2em;
}

.nav {
  align-content: space-between;
  text-align: center;
  justify-content: center;
  margin: auto;
  width: 80%;
  padding: 2em 2em 1em 2em;
}

.list {
  margin: auto;
  list-style-type: none;
  align-content: space-between;
  text-align: center;
  justify-content: center;
  display: inline;
  float: none;
  padding: 0.5em;
  margin-bottom: 2em;
}

.link {
  display: inline;
  float: none;
  text-decoration: none;
}

.title {
  display: inline;
  color: #454545;
  font-size: medium;
  font-weight: 400;
  cursor: pointer;
}

.title:hover {
  color: #008CBA;
}

.list_item {
  padding: 0.5em;
}

.note_header {
  margin-bottom: 1em;
  font-weight: 400;
}

.note_content {
  font-weight: 200;
}

.Note {
  background-color: #f1f1f1;
  opacity: 0.8;
  text-align: center;
  justify-content: center;
  margin: auto;
  width: 50%;
  min-width: 360px;
  padding: 2em;
  margin-bottom: 2em;
}

.new_note_button {
  background-color: #008CBA;
  color: white;
  padding: 14px 20px;
  margin: 8px 0.25em 0 0;
  font-weight: 500;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.delete_note_button {
  background-color: #008CBA;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  font-weight: 500;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.delete_note_button:hover {
  background-color: #006182;
}

.new_note_button:hover {
  background-color: #006182;
}

.form-wrapper {
  margin: auto;
  width: 30%;
  min-width: 320px;
  text-align: center;
  margin-bottom: 1em;
}

.form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.form-header {
  margin: 1em;
  font-weight: 400;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

input[type=submit] {
  width: 100%;
  background-color: #008CBA;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #006182;
}

.submit {
  font-size: medium;
}

.cancel {
  font-size: medium;
  width: 100%;
  background-color: #008CBA;
  color: white;
  padding: 14px 20px;
  margin: 2px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cancel:hover {
  background-color: #006182;
}

.deleteNoteElement {
  margin: auto;
  width: 30%;
  min-width: 320px;
  text-align: center;
  margin-bottom: 1em;
  margin-top: 1em;
}

.delete {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-top: 1em;
}

.delete_header {
  font-weight: 400;
}

.delete_button {
  font-size: medium;
  width: 100%;
  background-color: #008CBA;
  color: white;
  padding: 14px 20px;
  margin: 0.5em 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.delete_button:hover {
  background-color: #006182;
}

.login_wrapper {
  position: absolute;
  right: -40px;
  float: right;
  margin-top: 1em;
}

.login_label {
  margin-right: 0.25em !important;
}

.login_input {
  width: 20% !important;
  padding: 6px 10px !important;
  margin: 8px 0.25em 8px 0 !important;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.login_button {
  display: inline-block !important;
  background-color: #008CBA;
  color: white;
  /* padding: 14px 20px; */
  padding: 10px 20px;
  margin: 8px 0 8px 0.25em;
  font-weight: 500;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.logout_wrapper {
  position: absolute;
  right: 10px;
  float: right;
  margin: 0.5em 0;
}

.logout {
  background-color: #008CBA;
  color: white;
  padding: 10px 20px;
  margin: 8px 0 8px 0.25em;
  font-weight: 500;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.logout:hover {
  background-color: #006182;
}

.login_button:hover {
  background-color: #006182;
}

.register_form {
  width: 320px;
  position: absolute;
  top: 30px;
  right: 30px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.form-container {
  max-width: 320px;
  padding: 10px;
  background-color: white;
}

.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

@media only screen and (max-width: 992px) {
  .header {
    padding-top: 3em !important;
    padding-bottom: 1em !important;
  }
}

@media only screen and (max-width: 768px) {
  .login_wrapper {
    position: relative !important;
    float: none !important;
    right: 0 !important;
    margin: 0 auto !important; 
  }

  .header {
    padding-top: 2em !important;
    padding-bottom: 2em !important;
  }

  .login_button {
    padding: 10px 20px;
  }

  .new_note_button, .delete_note_button {
    padding: 10px 20px;
  }

  .register_form {
    top: 30px;
    right: 82px;
  }
}